body {
    min-height: 100vh;
    background: url(../img/bg.jpg) center center/cover no-repeat;
    font-family: 'Ubuntu', sans-serif;
    position: relative;
}

.dark-subject {
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.header {
    display: relative;
    padding: 18px 79px;
    background-color: rgba(0, 0, 0, .6);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 2;
}

.header-logo {
    flex-grow: 1;
}

.header-logo-name {
    font-weight: 700;
    font-size: 22px;
    color: #BEBEBE;
    text-transform: uppercase;
}

.header-logo-name:hover,
.header-welcome-link:hover {
    color: #21f0aa;
    transition: all 0.3s linear;
    opacity: 1;
}

.header-option svg {
    fill: #BEBEBE;
    margin-right: 25px;
}

svg path {
    fill:inherit;
}

.header-option svg:hover {
    fill: #21f0aa;
    transition: all 0.3s linear;
}

.sun {
    display: none;
}

.moon {
    display: none;
}

.active {
    display: inline-block;
}

.header-welcome {
    font-size: 14px;
    color: #BEBEBE;
    margin-left: 27px;
}

.header-welcome:hover {
    opacity: 0.7;
    transition: all 0.3s linear;
}


.header-welcome:before {
    content: '';
    position: absolute;
    width: 1px;
    height: 19px;
    background: #fff;
    opacity: 0.5;
    top: 22px;
    right: 275px;
}

.header-welcome-link {
    color: #BEBEBE;
}

.signup {
    position: absolute;
    width: 445px;
    min-height: 585px;
    background-color: #17181d;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.5);
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% + 35px));
    padding: 30px 60px 40px;
    z-index: 2;
}

.signup-easy {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.signup-easy:before {
    content: '';
    left: 0;
    position: absolute;
    width: 18px;
    height: 18px;
    background: #01ae75;
}

.signup-easy-title {
    font-size: 20px;
    color: #BEBEBE;
}

.signup-easy-link {
    font-size: 14px;
    color: #01ae75;
}

.signup-easy-link:hover {
    color: #21f0aa;
    text-decoration: underline;
    transition: all .3s linear;
}

.signup-social {
    display: flex;
    justify-content: space-between;
}

.signup-social-btn {
    width: 160px;
    height: 48px;
    background: #DF4A32;
    font-size: 16px;
    color: #BEBEBE;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px 25px 17px 15px;
    margin-bottom: 30px;
    transition: all .3s linear;
}

.signup-social-btn:before {
    content: '';
    position: absolute;
    right: 167px;
    width: 1px;
    height: 28px;
    background: #2B0D09;
    opacity: 0.1;
}

.signup-social-btn:first-child:before {
    left: 107px;
}

.signup-social-btn:hover {
    background-color: #AB1F09;
}

.signup-social-btn:first-child {
    background: #305DB8;
}

.signup-social-btn:first-child:hover {
    background-color: #022263;
}

.signup-or {
    position: relative;
    font-size: 14px;
    color: #848484;
    text-align: center;
    margin-bottom: 12px;
}

.signup-or span:before {
    content: '';
    position: absolute;
    width: 150px;
    height: 0px;
    left: 0;
    top: 7px;
    border: 1px solid #BEBEBE;
}

.signup-or span::after {
    content: '';
    position: absolute;
    width: 150px;
    height: 0px;
    right: 0;
    top: 7px;
    border: 1px solid #BEBEBE;
}

form {
    position: relative;
}

input {
    width: 100%;
    height: 45px;
    background-color: #212227;
    border-radius: 4px;
    border: 1px solid #BEBEBE;
    padding: 15px 20px;
    margin-bottom: 15px;
    color: #fff;
}

input:focus {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    border-radius: 4px;
    outline-color: transparent;
}

::placeholder {
    font-size: 14px;
    color: #BEBEBE;
}

label {
    position: relative;
    margin-left: 30px;
}

label, label a {
    font-size: 14px;
    color: #BEBEBE;
}

input[type="checkbox"] {
    position: absolute;
    left: 5px;
    width: 20px;
    height: 20px;
    box-shadow: 0 0 0;
}

.checkbox-agree-label {
    position: absolute;
    left: -25px;
    width: 20px;
    height: 20px;
    background: #BEBEBE;
    border: 1px solid #F2F2F2;
    z-index: 1;
}

.checkbox-agree:checked + .checkbox-agree-label {
    width: 20px;
    height: 20px;
    
}
.checkbox-agree:checked + .checkbox-agree-label:after {
    content: '';
    position: absolute;
    top: 10px;
    left: 1px;
    transform: rotate(51deg);
    width: 7px;
    border-right: 2px solid #01ae75;
    border-bottom: 2px solid #01ae75;
}

.checkbox-agree:checked + .checkbox-agree-label:before {
    content: '';
    position: absolute;
    top: 1px;
    right: 5px;
    transform: rotate(36deg);
    height: 13px;
    border-right: 2px solid #01ae75;
    border-bottom: 2px solid #01ae75;
}

label a {
    color: #01ae75;
}

label a:hover {
    color: #21f0aa;
    text-decoration: underline;
}

button[type="submit"] {
    display: block;
    width: 100%;
    height: 46px;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    border: none;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: #fff;
    margin-top: 20px;
    cursor: pointer;
    transition: all .3s linear;
}

button[type="submit"]:hover {
    background-color: #01ae75;
}









